In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('finalSet.csv')
df.head()

,booking_date,travel_date,route_type,travel_class,flight_number,price,total_duration,n_stops,carbon_this,delayed_any,layover_total_duration,days_to_departure,avg_stop_duration
0,2025-05-14 16:47:50,2025-06-11,One way,Economy,QR 985,596,1390,1,1094000,False,125,27,125.0
1,2025-05-14 16:47:50,2025-06-11,One way,Economy,KE 454,602,1380,1,1123000,False,275,27,275.0
2,2025-05-14 16:47:50,2025-06-11,One way,Economy,CX 742,645,1315,1,888000,False,245,27,245.0
3,2025-05-14 16:47:50,2025-06-11,One way,Economy,QR 983,596,1485,1,966000,False,220,27,220.0
4,2025-05-14 16:47:50,2025-06-11,One way,Economy,KE 454,606,1591,2,948000,True,432,27,216.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   booking_date            173 non-null    object
 1   travel_date             173 non-null    object
 2   route_type              173 non-null    object
 3   travel_class            173 non-null    object
 4   flight_number           173 non-null    object
 5   price                   173 non-null    int64
 6   total_duration          173 non-null    int64
 7   n_stops                 173 non-null    int64
 8   carbon_this             173 non-null    int64
 9   delayed_any             173 non-null    bool
 10  layover_total_duration  173 non-null    int64
 11  days_to_departure       173 non-null    int64
 12  avg_stop_duration       173 non-null    float64
dtypes: bool(1), float64(1), int64(6), object(5)
memory usage: 16.5+ KB

In [6]:
df.isnull().sum()

booking_date              0
travel_date               0
route_type                0
travel_class              0
flight_number             0
price                     0
total_duration            0
n_stops                   0
carbon_this               0
delayed_any               0
layover_total_duration    0
days_to_departure         0
avg_stop_duration         0
dtype: int64